ump/**/model.ump
ump/**/model.ump.erroroutput
download_eclipse_umple_plugin.html
download_eclipse_umple_plugin.shtml
download_umple.shtml
index.php
scripts/academic-teams-flag.txt
scripts/update-academic-teams.php
scripts/allumple-min.js