ump/**/model.ump
ump/**/model.ump.erroroutput
generatedExtraExample1OptionsAD.html
generatedExtraExample1OptionsEL.html
generatedExtraExample1OptionsMP.html
generatedExtraExample1OptionsQZ.html
download_eclipse_umple_plugin.html
download_eclipse_umple_plugin.shtml
download_umple.shtml
index.php
scripts/academic-teams-flag.txt
scripts/update-academic-teams.php
