body { 
  background-color:White; overflow: auto; overflow-y: scroll; margin-left: 10px;
  margin-top: 10px; margin-right: 9px; margin-bottom: 10px;
}
p, ol, ul, div, h1, h2, h3, h4, b { 
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; 
}
p.pagedescription { margin-left:5px; }

/* UNIVERSAL LAYOUT STYLES */ 
.inRow { float: left; }
.row { clear: both; overflow: auto; }

/* HEADER */
.logo { margin-top: 10px; }

/* MAIN APPLICATION CONTAINER */
#mainApplication { overflow: hidden; }

#paletteColumn { 
  box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid gray; 
  background-color: GhostWhite; padding: 1px 1px 1px 1px; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; border-radius: 4px; 
}
.ui-resizable-s { bottom: 0px; }

/* TEXT EDITORS */
textArea { 
  box-sizing:border-box; -moz-box-sizing:border-box; background-color: White; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; width:100%; height:100%; margin:0px; 
}
textArea.umpleModelEditor { resize:none; }
textArea.umpleLayoutEditor {overflow-y: scroll; resize: none; border: 1px solid gray; }
.CodeMirror-scroll { 
  box-sizing:border-box; -moz-box-sizing:border-box; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; border-radius: 4px;
}

/* Tweaks for the size and positioning of the resizing handle of the editor */
.ui-resizable-e { width: 15px; right: -10px; } 

/* CANVAS */
div.surface { 
  box-sizing:border-box; -moz-box-sizing:border-box; overflow:auto; display: block; width:100%; 
  height:100%; background-color: white; border: 1px solid gray; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; border-radius: 4px; position: relative;
}
div.surface:focus { outline:none; }
div.surface img { border:0; }
div.photoReady { border:0; overflow:visible; }
div.syncNeededMessage{ color: Gray; margin-left: 5px;}
.structureInCanvas { 
  width: 100%; height: 100%; border: 1px solid gray; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; border-radius: 4px; overflow: auto; 
  box-sizing: border-box; -moz-box-sizing: border-box;
}

.smallScreenCanvas { margin-top: 5px; margin-left: 0px; }
.smallScreenCanvasNoEditor { margin-top: 0px; margin-left: 5px; }
.smallScreenCanvasNoEditorNoPalette { margin-top: 0px; margin-left: 0px; }
.smallScreenEditor { margin-right: 5px; } 
.smallScreenEditorNoMargin { margin-right: 0px; } 

.largeScreenCanvas { margin-left: 5px; }
.largeScreenEditor { margin-right: 5px; }
.largeScreenCanvasNoMargin { margin-left: 0px; }
.largeScreenEditorNoMargin { margin-right: 0px; }

/* Tweaks for the size and positioning of the resizing handle of the canvas */
.ui-resizable-w { width: 15px; left:- -10px; } 

/* GENERATED CODE AREA */
#generatedCodeRow { 
  box-sizing:border-box; -moz-box-sizing:border-box; margin-top: 5px;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  }
#innerGeneratedCodeRow { margin-top: 5px; }
#messageArea { margin-left: 10px; }
.generatedDiagram { padding: 10px; overflow-x:auto; border: 1px solid gray; }
.generatedCode { overflow-x: hidden; border: 1px solid gray; }

/* UMPLE PALETTE */
.center-children { text-align: center; }
div.paletteWrapper { 
  box-sizing:border-box; -moz-box-sizing:border-box; border: 1px solid Gray; 
  background-color: GhostWhite; padding:  1px 1px 1px 1px; -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
}
div.palette { height: 100%; width: 175px; font-family: Verdana; font-size: 9.5pt; }
div.palette img { cursor:pointer; margin-left: 8px; padding:2px; vertical-align:middle;}

div.palette ul { 
  background-color: GhostWhite; margin:5px -25px -15px -25px; padding:6px 0px 10px 0px; 
  border: Black solid 1px; border-top: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
div.palette ul.first { margin-top:-10px; border-top: solid black 1px; }
div.palette ul.second { margin-top:20px; border-top: solid black 1px; }
div.palette h3 { 
  letter-spacing: -1px; font-family: Verdana; line-height: 13px; font-size: 10.5pt;
}
div.palette li { 
  z-index: 1; font-family: Verdana; margin:0; list-style-type: none; border: GhostWhite solid 1px; 
  font-size: 9pt; 
}
div.palette li.disabled { z-index: 2; background-color: GhostWhite; color: Silver;}
div.palette li.disabled  img{ z-index: 1; cursor: not-allowed; opacity: 0.25;}
div.palette li.subtitle { 
  text-shadow: 1px 1px 4px White; font-weight: bold; text-transform: uppercase; letter-spacing: 0px;
  color: Black; margin: 0px 5px 8px 5px; font-family: Verdana; text-align: center; 
  font-size:10pt; border-bottom: Silver double;
}
div.palette li.selected { 
  z-index: 4; border: DarkGray solid 1px; color: Black; background-color:Gainsboro; 
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
div.palette li.highlight { 
  z-index: 3; border: DarkGray solid 1px; color: Black; background-color: Gainsboro; cursor:pointer; 
  -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
div.palette .bookmarkableUrl { padding: 2px 14px 2px 14px; }
.bookmarkableUrl { padding: 0px 0px 0px 8px; }

/* Override jQueryUI style to remove gradient and extra image loading */
#paletteColumn .ui-state-active { background: #999; } 
#paletteColumn h3.ui-state-active>a:link { color: #3383bb; } /* Overrides a:link rule in accordion header */
#paletteColumn .ui-state-default { background: #eee; } 
#paletteColumn .ui-widget-content { background: #c9c9c9; }

/* BUTTONS */
#paletteColumn div.jQuery-palette-button { 
  font-family: Verdana; letter-spacing: 0.1px;
  width: 132px; height: 25px; margin: auto; padding:0; 
  background: #eee;
}

#paletteColumn div.jQuery-palette-button.ui-state-hover { 
  background: #f8f8f8; /* Overrides jQueryUI hover styles to remove image */
}

#buttonStructureLink {
  padding-top: 5px; padding-bottom: 5px;
}

.checkbox { cursor:pointer; margin-left: 10px; margin-top: 1px; padding:2px; vertical-align:middle; }
.radio { margin-top: -2px; margin-bottom: 0px; margin-left: 10px; vertical-align: middle; cursor: pointer; }
a.button:link { color:black; text-decoration:none; }
a.button:visited { color:black; text-decoration:none; }
a.button:hover { color:black; text-decoration:none; }
a.button:active { color:black; text-decoration:none; }

.buttonExtend:hover { cursor: pointer; }

/* DISABLING DIVS ON THE SCREEN */
.disabled { text-decoration: line-through; color: #d6d6d6; }
.disabled a { text-decoration: none; color: #d6d6d6;}

/* SELECT and CUSTOM SIZE INPUTS */
select.button { 
  width:134px; border: DimGray solid 1px; font: Verdana; font-size: 10pt; padding: 0px; 
  margin: 0px 0px 5px 0px; cursor:pointer; 
}
input.customSize { height: 18px; width: 36px; cursor: caret; margin-top: 5px}

/* UMPLE CLASSES, ASSOCIATIONS and GENERALIZATIONS */
div.umpleClass {
  padding:0; margin:0; z-index: 2; cursor:move; position: absolute; font-family: arial, serif; 
  background-color: White;
}
div.umpleClass img { vertical-align:middle; margin:0 0 1px 0; }
div.umpleClass table { border-collapse: collapse; }
div.umpleClass td { border:#5F8BA5 solid 1px; }

div.umpleClass tr.width td { 
  border:white solid 0px; border-collapse: collapse; margin:0; padding:0; 
}
div.umpleClass tr.width img { margin:0; padding:0; }
div.umpleClass tr.height td { 
  border:black solid 0px; margin:0; padding:0; border-collapse: collapse; 
}
div.umpleClass tr.height img { margin:0; padding:0; }
div.umpleClass tr.classArea td { height:1px; overflow:on; }
div.umpleClass tr.attributeArea td  {height:1px; overflow:on; }
div.umpleClass span.editable { cursor:text;}
div.umpleClass span.uneditable { cursor:move; }

div.umpleAttribute { margin:1px 1px 0 2px; }
div.umpleAttribute span { cursor:text; }
div.umpleAttribute img { cursor:pointer; }
div.umpleAttributeNew  { margin:1px 1px 0 2px; }
div.umpleAttributeNew span { color:grey; cursor:text; }

div.umpleMethod { margin:1px 1px 0 2px; }
div.umpleMethod span { cursor:text; }
div.umpleMethod img { cursor:pointer; }
div.umpleMethodNew  { margin:1px 1px 0 2px; }
div.umpleMethodNew span { color:grey; cursor:text; }

div.umpleLine { background-color: inherit;}

div.umpleAssociation { background-color: inherit; cursor: pointer; z-index: 3; position: absolute; }
div.umpleAssociationTemp { background-color:black; cursor: pointer; z-index: 1; position: absolute; }
div.redTracedAssociation { background-color: red; }
div.untracedAssociation { background-color: black; }
div.multiplicity { 
  background-color: transparent; position: absolute; font-size: 8pt; z-index: 3; padding: 0; 
  margin: 0; border: 0;
}
div.role { background-color:transparent; position: absolute; font-size:8pt; z-index: 3; }
div.umpleGeneralization { cursor: pointer; background-color: black; }

/* UMPLE HOVER STYLES  */
.anchor { 
  border: 1px solid #111111; width: 5px; height: 5px; position: absolute; display: none; 
  background-color: #777777; z-index: 5; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.hover { 
  border: 1px solid #777777; width: 5px; height: 5px; position: absolute; display: block;
  background-color: #AAAAAA; z-index: 4; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.focus {  }
.visibleFocus {
  border: 1px solid gold !important; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
  border-radius: 4px;
}
.unselectable { -moz-user-select: none; -khtml-user-select: none; user-select: none;}
.unscrollable { overflow: hidden; scrolling:no }

/* FOOTER */
.spacer { height: 50px; } /* Allows the user to always vertically resize */


/* JointJS CSS */
#jjsPaper {
    position: relative;
    border: 1px solid gray;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}
#jjsPaper svg {
    background: transparent;
}
#jjsPaper svg .link {
    z-index: 2;
}

.html-element {
    position: absolute;
    /* background: #ff8450; */
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 1px;
    border: 1px solid grey;
    box-shadow: inset 0 0 1px black, 1px 1px 1px gray;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.html-element select,
.html-element input,
.html-element label,
.html-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}
.html-element button.delete {
    color: orangered;
    border: none;
    /* background-color: #C0392B; */
    background-color: white; 
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -15px;
    left: -15px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.html-element button.delete:hover {
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.html-element select {
    position: absolute;
    right: 2px;
    bottom: 28px;
}
.html-element input {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    color: #333;
    padding: 0px;
    height: 12px;
    font-family: arial, serif;
    font-size:12px;
    /* background-color: #ff8450; */
    
}
.html-element label {
    color: #333;
    text-shadow: 1px 0 0 lightgray;
    font-weight: bold;
}
.html-element span {
    position: absolute;
    top: 2px;
    right: 9px;
    color: white;
    font-size: 10px;
}

.attributInput {
    display: block;
    margin:0;
    padding:0;
    padding-top: 3px;
}

.html-element .className {
    text-align: center;
    margin: auto;
}

.html-element hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #000; /* old IE */
    background-color: #000; /* Modern Browsers */
    padding: 0;
    margin: 0;
}

.attributInput .deleteAttr {
    text-align: "right";
    /* Enable interacting with inputs only. */
    pointer-events: auto;
    cursor: pointer;
    float: right;
    right: 2px;
    height: 14px;
}