bin/
dist/
nohup.out

# Temporary
umpleonline/index.php

# os specific:
.DS_Store

#intelliJ
.idea
*.iml
.recommenders

*.swp
src-gen-umple/

# eclipse
.classpath
.project
.settings
.metadata

*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

