/*

Copyright: All contributers to the Umple Project

This file is made available subject to the open source license found at:
http://umple.org/license

*/

.ErrorMessage
{
	color:red;
	text-align:center;
}