.statetable 
{ 
  border-collapse: collapse; 
}

.statetable td 
{ 
  border: 1px solid black; padding: 2px 10px 2px 10px; white-space: nowrap; 
}

.statetable .state-header, .statetable .event-header 
{ 
  font-weight: bold; background-color: #ecf0f1; border: 2px solid black; 
}

.statetable .derived 
{ 
  font-style: italic; 
}