<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
     <category
            id="cruise.umple.umplificator.ui"
            name="Umplificator">
      </category>
      <view
            category="cruise.umple.umplificator.ui"
            class="cruise.umple.umplificator.core.ui.views.workflow.WorkFlowView"
            icon="icons/UmpleLogo32.gif"
            id="cruise.umple.umplificator.ui.core.ui.views.WorkFlowView"
            name="Refactoring WorkFlow View">
      </view>
   </extension>

 <extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            id="cruise.umple.umplificator.ui.umplificationPopup"
            objectClass="org.eclipse.core.runtime.IAdaptable"
            nameFilter="*">   

         <menu
               id="cruise.umple.umplificator.ui.menu.contextMenu"
               label="Umplification Tools"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         -->
         
         <!-- The action definitions -->
         <action
               class="cruise.umple.umplificator.core.ui.action.UmplifyClassAction"
               enablesFor="*"
               id="cruise.umple.umplificator.ui.action.UmplifyClass"
               label="Umplify Class"
               menubarPath="cruise.umple.umplificator.ui.menu.contextMenu/group1">
         </action>
      </objectContribution>

   </extension>
</plugin>
